// General styles
* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {	
	color: @textCol;
	background: red;

}

#outerwrap {
	position: relative;
  overflow: hidden;
  width: 100%;
}

#innerwrap {
	position: relative;
  width: 100%;
}

.internal-container {
	max-width: @containerMaxWidth;
	width: @containerWidth;
	margin: 0 auto;
}


// Typography
h1, h2, h3, h4 {

}

p {
	margin-top: 0;
}

a {
	text-decoration: none;
	font-weight: 700;
	color: @linkCol;
	transition: all .3s;

	&:hover {
		// color: @blue;
	}
}




// Buttons and calls to action
.btn {
	display: inline-block;
	padding: .3em 1em;
	color: @btnCol;
	background: @btnBgCol;
	transition: background .3s ease-in-out;

	&:hover {
		background: darken(@btnBgCol, 5%);
	}
}

// Form styling


// Menu styling

#navwrap {
	background: pink
}

// mobile menu styles
#menu {

}

// desktop menu styles
@media screen and (min-width: @bp_mobileMenu) {
	#menu {

	}//menu	
} // end of mobile menu styling


// Header

#logo {

}

#topwrap {
	p {
		margin-bottom: 0;
		color: #fff;
	}
}

// Category / Blog / News pages


// Single article pages

// Grid styling for example

#topwrap {
	padding: 4em 0 3em 0;
}


